body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.upload-section, .record-section {
    margin-top: 20px;
}

.button {
    background-color: #1f2937;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #4b5563;
}
